.form_generator_container {
  margin: 10px;
  min-width: 600px;
}

.add_field_btn {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
}

.add_field_btn:active {
  background-color: var(--primary-light-color);
}

.form_top_section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.question_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.question_container input {
  padding: 10px;
  width: 400px;
  font-size: var(--medium);
}

.question_container label {
  color: #000;
}

.select_input_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.select_input_container label {
  color: #000;
}

.select_input {
  padding: 10px;
  font-size: var(--medium);
}

.select_input ~ option {
  padding: 10px;
}

.save_btn_container {
  display: flex;
  flex-direction: row-reverse;
}

.save_btn {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(3, 114, 114);
  color: #fff;
}
