.form_fields_container {
  padding: 120px 30px 0;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.form_field_label {
  font-size: var(--large);
  font-weight: bold;
}

.drag_icon {
  position: absolute;
  top: 5px;
  left: 50%;
  cursor: grab;
}
