* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main__container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.add_field_btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(3, 114, 114);
  color: #fff;
}

.add_field_btn:active {
  background-color: rgba(3, 114, 114, 0.8);
}
